<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<title><%= title %></title> 
	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAANAPFw3hx5rtPvHgmHs1FiBTO2B39cGl6eqlD6zIdMj_0D_-_qRTr0FdLXkAJpGeO
	rieq0RCKomgW3A"></script>
	<script language="Javascript" type="text/javascript">
	//<![CDATA[
	        google.load("jquery", "1.4.2");
	        google.load("jqueryui", "1.8.0");
	        google.load("prototype", "1.6.1.0");
	        google.load("scriptaculous", "1.8.3");
	//]]>
	</script>
	
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %> 
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %> 
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]--> 
	<%= stylesheet_link_tag 'custom', :media => 'screen' %> 
</head> 
<body> 
	<div class="container"> 
		<%= render 'layouts/header' %> 
		<div id="content" class="round"> 
			<%= yield %> 
		</div> 
		<%= render 'layouts/footer' %> 
	</div>  
</body> 
</html>